.feedback-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.submit-btn {
  display: block;
  padding: 8px 16px;
  border: 1px solid;
  border-radius: 8px;
  transition: 200ms ease-in;
  background-color: transparent;
}

input,
textarea {
  padding: 8px 16px;
  border: 1px solid;
  border-radius: 8px;
}
